 .u-section-1 {
  background-image: url("images/contato.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 128px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 60px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}